{% extends 'base.html.twig' %}

{% block title %}Hello KillSwitchController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div>
            <h1>New Feature Content [Kill-switch]</h1>
            <p>This content is only visible when the new feature is enabled.</p>
        </div>
    </div>
{% endblock %}
